.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    height: 350px !important;
}
.THIS .custom-box {
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}
.THIS .fields {
    display: inline-block;
}
.THIS .right-amount {
    float: none;
    text-align: center;
    width: 20%;
}
.THIS .left-subject {
    width: 80%;
}
.THIS .expense-item:active {
    background-color: yellow;
}
.THIS .center-align {
    text-align: center;
    height: 100%;
}
.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}
.THIS .hovered-Div:hover {
    z-index: 1;
    box-shadow: 0px 0px 30px #000000;
    
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    
    transition: all 200ms ease-in;
    transform: scale(1.02);
}